* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
} 

body > div {
    margin: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn + .btn{
    margin-left: 50px;
}
.btn:hover {
    opacity: 0.7;
}
.btn--success {
    background-color: #71be34;
}

.btn--wrong{
    background-color: #ffb702;
}

.btn--danger{
    background-color: #ff623d;
}

.btn--wrong {
    
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    min-width: 400px;
    max-width: 450px;
    padding: 10px 0;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    transition: all linear .3s;
}

@keyframes SlideInLeft {
    from {
        opacity: 0;
        transform: translate(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes FadeOut {
    to {
        opacity: 0;
    }
}
.toast + .toast {
    margin-top: 24px;
}
.toast__icon,
.toast__close {
    margin: 10px;
    font-size: 24;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {

}

.toast__msg {
    color: rgba(0, 0, 0, 0.6);
}

.toast__close {

}
.toast__close :hover {
    opacity: 0.5;
}

.toast--success {
    border-color: #47d864;
}
.toast--success .toast__icon {
    color: #47d864;
}

.toast--warning {
    border-color: #ffb702;
}
.toast--warning .toast__icon {
    color: #ffb702;
}


.toast--error {
    border-color: #ff623d;
}
.toast--error .toast__icon {
    color: #ff623d;
}
